

header {
    
}

.eye-catch{
    height:30px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    font-family: ;
}

.logo{
    display: flex;
    justify-content: center;
}

.menu-list{
    padding-left: 10px;
    position: fix;
    width: 359px;
}

ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: purple;
    color: white;
    margin-left: 0px;
    
    
}

li {
    padding: 5px;
    display: flex;
    justify-content: center;

}

body {

}

.garden-logo img{
    top: 10px;
    height: auto;
}

.History h2 {
    color: grey;
}

.berries {
    margin-top: 0px;

}

.berries h1{
    text-align: center;
}

.images {
    height: auto;
    width: 359px;
}

.Lavender {
    align-items: center;
}



footer {
    width: auto;
    height: 300px;
    background-color: purple;
    color: white;

}



.SNS {
    text-align: center;
}

.snslogos {
    margin-top:33px;
    width:50px;
    height:50px;
    padding: 10px;

}